<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConquerTheThrone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE4895FD1C9A55BC007903DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4896111C9A55BC007903DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE48961C1C9A55BC007903DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
